.book {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  background-color: white;
  flex-grow:1;
  max-height:300px;
}

.book img {
  height: 100% ;
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}

  .book h2 {
    color: #333;
  }

.book_list {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: space-between; /* Adjust spacing between items */
  width: 100%;
  overflow: auto;
}

.div_img {
    position: relative;
    height:50%;
}

.div_img .btn {
  position: absolute;
  left:175%;
  border: none;
  cursor: pointer;
}
